.container{
    width: 1296px;
    margin: auto;
}

header{
    position: fixed;  
    top: 0;  
    z-index: 102;
    width: 100%;
}

.header1{
    width: 100%;
    background-color: #10BBD5;
}

.header2{
    width: 100%;
    background-color: white;
}

.under_header1{
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.under_header1 a{
    display: block;
    height: 29px;
    background-image: url(../image/logo.png);
    width: 136px;
}

.right_header{
    display: flex;
    align-items: center;
    gap: 8px;
}

.right_header_price{
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.under_header2{
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}

.right_header2 ul{
    display: flex;
    gap: 40px;
}

.under_header2 h2{
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.right_header2 a{
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

main{
    background-color: #eeeeef;
    width: 100%;
    padding-top: 104px;
    height: max-content;
    padding-bottom: 120px;
}

main h2{
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    padding-top: 32px;
    padding-bottom: 23px;
    border-bottom: 1px solid #A8A8A8;
}

.grid_cont{
    display: grid;
    grid-template-columns: repeat(4, 306px);
    grid-template-rows: repeat(3, 512px);
    grid-column-gap: 24px;
    padding-top: 28px;
    grid-row-gap: 32px;
}

.card{
    border: 1px solid #a8a8a8;
    background-color: white;
    padding: 32px 32px;
}

.photo_card{
    width: 242px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid #a8a8a8;
}

.photo_card img{
    height: 280px;
    width: 178px;
    padding: 0px 32px;
}

.photo_card p{
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.name_price{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.name{
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #8E8E8E;
}

.price{
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.card_but{
    margin-top: 16px;
    border-radius: 4px;
    border: none;
    width: 100%;
}

.card_button1{
    background-color: #4C394E;
}

.card_button2{
    background-color: #4D762D;
}

.card_button1:hover{
    background-color: #744978;
}

.card_button2:hover{
    background-color: #6DB236;
}

.card_but span{
    padding: 8px 24px;
    display: block;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #F8FDFE;
}

footer{
    width: 100%;
    background-color: #4C394E;
}

.footer{
    display: flex;
    padding: 32px 52px;
    justify-content: space-between;
}

.footer p{
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #F8FDFE;
}

.badge_card{
    display: flex;
    z-index: 100;
    position: absolute;
    gap: 4px;
}

.badge_card p{
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 4px 8px;
}

.new_badge{
    border-radius: 4px;
    background-color: #AF39E7;
}

.hit_badge{
    border-radius: 4px;
    background-color: #4200FF; 
}

.price_budge{
    border-radius: 4px;
    background-color: #EA33C0;
}

.chut_but{
    background-image: url(../image/Chat.png);
    width: 64px;
    height: 64px;
    border: none;
    position: fixed;  
    top: 696px;
    right: 28px;
}

.tryp{
    position:absolute;
    color: #000;
    font-family: Cabin;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    top: 8.67px;
    left: 15px;
}

.rel{
    position: relative;
}

.right_header button{
    background-color: #10BBD5;
    border: none;
}